<h1>Stupid coaching</h1>

<p>Ask your coach anything</p>
<form action="/answers" data-turbo="false" method="get">
  <input type="text" name="question">
  <input type="submit" value="Ask" class="btn btn-primary">
</form>
<p></p>
<p></p>
<p>If you don’t remember about the coach (poor) logic, here it is:
  <ul>
    <li>If the message is I am going to work, the coach will answer Great!</li>
    <li>If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.</li>
    <li>Otherwise the coach will answer I don't care, get dressed and go to work!</li>
  </ul>
</p>
